/Tarea_2_2_BoletaConPromedioEscrito/nbproject/private/
/tarea2_2_promedioEnTexto/nbproject/private/
/tarea2_2_promedioEnTexto/build/
/practica2_4ProgramaHospital/nbproject/private/
/practica2_4ProgramaHospital/build/
